<h2>Edit Player</h2>

<%= simple_form_for(@player) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :calling_name, required: true, autofocus: true %>
    <%= f.input :family_name, required: true %>
    <%= f.input :derby_name %>
    <%= f.input :derby_number %>
    <%= f.input :league %>
    <%= f.input :email, required: true %>
    <%= f.input :password,
                hint: "Leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "We need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", player_path(@player), data: { confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
