Id deste jogo <%= @new_game.id %>

<hr>

<h4>Criar form com:</h4>

<p>Data do Jogos</p>
<p>Hora do Jogo</p>
<p>Local do jogo (campo ligado so google maps?)</p>

<hr>

<h4>Criar botões:</h4>

<p><%= link_to "Criar Rooster do Time A", games_rooster_path %></p>
<p><%= link_to "Criar Rooster do Time B", games_rooster_path %></p>

<p><%= link_to "Escalar Ref Team", games_ref_team_path %></p>


<hr>

<p><%= link_to "Salvar jogo", games_show_path %></p>

  <li><%= link_to "Menu de Jogos", games_path %></li>
