Id deste jogo <%= @new_game.id %>

<hr>

<h4>Criar form com:</h4>

<%= form_with(model: @new_game, url: create_game_path, method: :post) do |form| %>
  <p>Data do Jogo: <%= form.date_field :game_date %></p>
  <p>Hora do Jogo: <%= form.time_field :game_time %> </p>
  <p>Nome do local do Jogo: <%= form.text_field :game_location_nickname %> </p>
  <p>Local do jogo (campo ligado so google maps?) <%= form.text_field :game_map_address %> </p>


  <%= form.submit "Salvar jogo" %>
<% end %>








<hr>

<h4>Criar botões:</h4>

<p><%= link_to "Criar Rooster do Time A", games_rooster_path %></p>
<p><%= link_to "Criar Rooster do Time B", games_rooster_path %></p>

<p><%= link_to "Escalar Ref Team", games_ref_team_path %></p>


<hr>

<p><%= link_to "Salvar jogo", create_game_path %></p>

  <li><%= link_to "Menu de Jogos", games_path %></li>
