new_game.html.erb

Id deste jogo <%= @new_game.id %>

<hr>

<h4>Criar form com:</h4>

<%= form_with(model: @new_game, url: create_game_path, method: :post) do |form| %>
  <p>Data do Jogo: <%= form.date_field :game_date %></p>
  <p>Hora do Jogo: <%= form.time_field :game_time %> </p>
  <p>Nome do local do Jogo: <%= form.text_field :game_location_nickname %> </p>
  <p>Local do jogo (campo ligado so google maps?) <%= form.text_field :game_map_address %> </p>


  <%= form.submit "Salvar jogo" %>
<% end %>

<hr>

<%= simple_form_for @new_game, url: create_game_path, method: :post do |form| %>
  <%= form.input :game_date, as: :string, input_html: { class: 'datepicker' }, label: "Data do Jogo" %>
  <%= form.input :game_time, as: :time, label: "Hora do Jogo" %>
  <%= form.input :game_location_nickname, label: "Nome do local do Jogo" %>
  <%= form.input :game_map_address, label: "Local do jogo (campo ligado ao Google Maps?)" %>

  <%= form.button :submit, "Salvar jogo" %>
<% end %>

<hr>

<li><%= link_to "Menu de Jogos", games_path %></li>
