
<%# Simplificado com grid %>
<div class="container">
  <div class="row">

    <% # Define os grupos com base na presença de "Referee" no nome da posição %>
    <% official_positions_grouped_by_referee_or_nso = @official_position.group_by { |position| position.official_position.include?("Referee") ? "Referee" : "NSO" } %>

    <% # Loop para criar duas colunas %>
    <% official_positions_grouped_by_referee_or_nso.each do |official_category, official_positions| %>
      <div class="col-6">
        <div class="border border-5">

          <% official_positions.each do |position| %>

            <% player_assigned_as_official = @officials_in_the_game.find { |o| o.official_position_id == position.id } || OfficialsInTheGame.new(game_id: @game_show.id, official_position_id: position.id) %>

            <div class="border border-3 border-primary my-3">
              <div class="cards card-ref">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn5Lj_iuoQmSpl3BB4QQpx7P-LMLAyq1LHaw&s" alt="foto" width="120px" height="120px">

                <%= simple_form_for player_assigned_as_official, url: create_officials_in_the_game_path, method: :post do |f| %>
                  <div class="card-ref-data">
                    <%= f.input :player_id,
                      collection: Player.all.map { |player| [player.calling_name, player.id] },
                      label: "#{position.official_position}",
                      prompt: "Selecione uma jogadora",
                      selected: player_assigned_as_official.player_id,
                      input_html: { onchange: 'this.form.submit()' } %>

                    <%= f.hidden_field :game_id, value: @game_show.id %>
                    <%= f.hidden_field :official_position_id, value: position.id %>
                    <%= f.hidden_field :is_shadowing, value: false %>
                  </div>
                <% end %>
              </div>
            </div>

          <% end %>

        </div>
      </div>
    <% end %>

  </div>
</div>
