<%= simple_form_for @ref_team, url: { action: "ref_team" } do |f| %>
  <p>ID: <%= @game_show.id %>, Status: <%= @game_show.game_is_over ? 'Concluído' : 'Em andamento' %></p>

  <% @official_position.each do |position| %>
    <%= f.input :player_id, collection: Player.all, label: "#{position.official_position_code} Escolher Jogadora:", prompt: "Selecione uma jogadora" %>
    <%= f.hidden_field :game_id, value: @game_show.id %>
    <%= f.hidden_field :official_position_id, value: position.id %>
    <%= f.hidden_field :is_shadowing, value: false %>
  <% end %>

  <%= f.button :submit, "Salvar" %>
<% end %>
