show.html.erb

<%= @game_show.id%>
<p>
<%= "ID: #{@game_show.id}, Status: #{@game_show.game_is_over ? 'Concluído' : 'Em andamento'}" %>
</p>
<ul>
  <li><%= "Data: #{@game_show.game_date}" %></li>
  <li><%= "Horário: #{@game_show.game_time}" %></li>
  <li><%= "Local: #{@game_show.game_location_nickname}" %></li>
  <li><%= "Endereço: #{@game_show.game_map_address}" %></li>
  <li><%= "Concluído: #{@game_show.game_is_over}" %></li>

</ul>

<hr>

<h4>Criar botões:</h4>

<p><%= link_to "Criar Rooster do Time A", games_rooster_path %></p>
<p><%= link_to "Criar Rooster do Time B", games_rooster_path %></p>

<p><%= link_to "Escalar Ref Team", games_officials_in_the_game_path(game_id: @game_show.id) %></p>


<hr>


    Refs escalados
    <ul>
      <% @game_show.officials_in_the_games.each do |official| %>
        <li>Jogadora: <%= official.id %> - <%= official.player.calling_name %></li>
        <li>Tipo de ref: <%= official.official_position.official_position_code %> - <%= official.official_position.official_position %></li>
        <hr>
      <% end %>
    </ul>
